# Compiled class files
*.class

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Directories
/dist/
/build/

# NetBeans specific files
/nbproject/private/
/nbproject/Makefile-Release
/nbproject/Makefile-Debug
/nbproject/Makefile-Run
/nbproject/Makefile
/nbproject/Makefile-Default
/nbproject/config.xml

# OS specific files
*.DS_Store
Thumbs.db

# IDE files
*.iml
.idea/

# Other
*.swp
